@import '../variables.scss';

canvas {
  width: 100%;
  max-width: 100%;
}

.pull-right {
  float: right;
}

.overlay-ui.baseLine {
  pointer-events: none;
  position: relative;
  bottom: 3em;
  width: 85%;
  margin: auto;
  position: relative;
  border-bottom: 1px dashed black;
}


.SignatureDialog__body {
  min-height: 230px !important;
  padding:0 !important;
}

@media(max-width: 560px) {
  .SignatureDialog__content {
    max-width: 100% !important;
    width: 100% !important;
  }
}


@media( max-height: 520px){

  .SignatureDialog__body {
    max-height: 250px !important;
  }

}

@media(max-height: 420px) {
  .SignatureDialog__body {
  }
  .SignatureDialog__content {
    transform: translate3d(0px, 0px, 0px) !important;
  }

  .SignatureDialog canvas {
    min-height: 150px;
  }

}

@media(max-height: 320px) {

  .SignatureDialog__body {
    max-height: 180px !important;
    min-height: 180px !important;
  }

  .overlay-ui.baseLine {
    bottom: 2em;
  }

}
